<div class="container mx-auto my-8 px-4">
<h1 class="text-center text-2xl py-2 mb-4"><%= @neighbourhood.name %></h1>

<p><strong>Parks in this Neighbourhood:</strong></p>
<ul>
<% @neighbourhood.parks.each do |park| %>
  <li><%= link_to park.name, park_path(park) %></li>
<% end %>
</ul>

<%= link_to 'Back to Neighbourhoods', neighbourhoods_path %>
</div>
