<!-- app/views/school_zones/show.html.erb -->
<h1>School Zone: <%= @school_zone.sign_location %></h1>
<p>Sign Location: <%= @school_zone.sign_location %></p>
<p>Sign Message: <%= @school_zone.sign_message %></p>
