<h1><%= @district.name %></h1>

<p><strong>Parks in this District:</strong></p>
<ul>
<% @district.parks.each do |park| %>
  <li><%= link_to park.name, park_path(park) %></li>
<% end %>
</ul>

<%= link_to 'Back to Districts', districts_path %>
