<div class="container">
  <h1 class="text-center text-2xl py-2 mb-4">Urban Trees</h1>
  <div class="rb-table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Common Name</th>
          <th>Electoral Ward</th>
        </tr>
      </thead>
      <tbody>
        <% @urban_trees.each do |tree| %>
          <tr>
            <td><%= tree.id %></td>
            <td><%= link_to tree.common_name&.name, urban_tree_path(tree) %></td>
            <td><%= tree.electoral_ward&.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= paginate @urban_trees %>
    </div>
  </div>
</div>
